site_name: FELionGUI v4
site_url: https://aravindhnivas.github.io/felion_docs/
site_author: A.N. Marimuthu
repo_name: aravindhnivas/felion_docs
repo_url: https://github.com/aravindhnivas/felion_docs
site_description: A documentation for FELionGUI
site_dir: site

theme:
  name: material
  favicon: img/favicon.ico
  logo: img/logo.png
  
  icon:
    repo: fontawesome/brands/github
  custom_dir: overrides
  features:
    - navigation.top
    # - navigation.instant
    - navigation.tabs
    - search.share
    - search.suggest
    # - announce.dismiss
    
  palette:

    # Palette toggle for automatic mode
    # - media: "(prefers-color-scheme)"
    #   toggle:
    #     icon: material/brightness-auto
    #     name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

nav:
    - index.md
    - layout.md
    - normline.md
    - masspec.md
    - timescan.md
    - thz.md
    - Kinetics:
      - kinetics/ROSAA.md
      - kinetics/timescan.md
    # - powerfile.md
    - misc.md
    - settings.md
    - about.md
    
markdown_extensions:
  - attr_list
  - md_in_html
  - tables
  - pymdownx.tilde
  - pymdownx.magiclink
  - pymdownx.keys
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.details
  - footnotes

  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true 
  
extra:

  generator: true # Made with Material for MkDocs notice
  social:
    - icon: fontawesome/solid/paper-plane
      link: mailto:aravindhnivas28+feliondocs@gmail.com
      name: Email us
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/AravindhnivasM
      name: connect on Twitter

extra_css:
  - stylesheets/global.css

plugins:
  - search
  - glightbox
  - git-revision-date-localized:
      enable_creation_date: false
  - autolinks
  # - with-pdf:
  #     cover_subtitle: Technical documentation for FELionGUI
  #     output_path: documentation.pdf

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - javascripts/custom.js

copyright: Copyright &copy; 2019 - 2022 A.N. Marimuthu
