/* :root {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
} */
.md-header__button.md-logo {
    background-color: whitesmoke;
    border-radius: 1em;
}
