.md-header__button.md-logo {
    background-color: whitesmoke;
    border-radius: 1em;
}

.md-typeset a, .md-nav__link.md-nav__link--active {
    color: #4287ff;
}

.md-typeset a:hover, .md-nav__link.md-nav__link--active:hover, .md-nav__link:hover {
    color: #4287ff;
}

.md-tabs__link.md-tabs__link--active {
    border-bottom: solid 2px;
}

.md-tabs__item {
    margin-bottom: 0.5em;
    &:hover {
        background-color: whitesmoke;
        border-radius: 1em;

        .md-tabs__link {
            color: black;
        }
    }
}
